.studentFeedbackContainer {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0;
  width: 80%;
}

.studentFeedbackDiv1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentFeedbackDiv1 > p {
  background-color: black;
  color: white;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 30px;
  text-align: center;
}

.studentFeedbackDiv2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.studentFeedbackDiv2 > div:nth-child(1),
.studentFeedbackDiv2 > div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentFeedbackDiv2 > div:nth-child(1) > img,
.studentFeedbackDiv2 > div:nth-child(3) > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.shadowBox {
  position: relative;
  width: 60%;
  max-width: 700px;
  height: 150px;
  background-color: white;
  border: 2px solid black;
  box-shadow: -6px 6px black;
  border-radius: 15px;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.shadowBox:hover {
  transform: translateY(-2px);
}

.innerBox {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-sizing: border-box;
}

.innerContent {
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  background-color: black;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  overflow-y: auto;
  cursor: default;
}

.innerContent::-webkit-scrollbar {
  width: 8px;
}

.innerContent::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.innerContent::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 5px;
}

.studentFeedbackDiv3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: brown; */
}

.studentFeedbackDiv3 > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studentFeedbackDiv3 > div:nth-child(1) > p {
  background-color: black;
  color: white;
  font-size: 1.1rem;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 10px;
}

.studentFeedbackDiv3 > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  /* background-color: blueviolet; */
  margin: 0 auto;
  width: 80%;
}

.studentFeedbackDiv3 > div:nth-child(2) > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 3px 50px;
}

.studentFeedbackDiv3 > div:nth-child(2) > div p:nth-child(1) {
  text-align: start !important;
}

.studentFeedbackDiv3 > div:nth-child(2) > div p:nth-child(2) {
  text-align: start !important;
}

.studentFeedbackDiv4 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
  box-sizing: border-box;
  padding: 40px 0;
}

.studentFeedbackDiv4 > p {
  background-color: black;
  color: white;
  box-sizing: border-box;
  padding: 10px 30px;
  border-radius: 8px;
}

/* .positiveAspect {
  background-color: rgb(75, 240, 33);
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 10px;
}

.neutralAspect {
  background-color: rgb(255, 251, 34);
  box-sizing: border-rgb(209, 247, 42);
  padding: 10px 20px;
  border-radius: 10px;
}

.negativeAspect {
  background-color: rgb(255, 34, 34);
  box-sizing: border-rgb(209, 247, 42);
  padding: 10px 20px;
  border-radius: 10px;
} */

.studentFeedbackSpinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.positiveAspect {
  color: rgb(159, 243, 32) !important;
}

.neutralAspect {
  color: black !important;
}

.negativeAspect {
  color: red !important;
}

@media screen and (max-width: 700px) {
  .studentFeedbackContainer {
    width: 100%;
  }

  .studentFeedbackDiv2 {
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 10px;
    gap: 10px;
  }

  .studentFeedbackDiv2 > div:nth-child(1) > img {
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
  .studentFeedbackDiv2 > div:nth-child(3) > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .shadowBox {
    position: relative;
    width: 75%;
    max-width: 700px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
    box-shadow: -6px 6px black;
    border-radius: 15px;
    box-sizing: border-box;
    transition: transform 0.2s ease-in-out;
  }

  .innerContent {
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 0;
    background-color: black;
    height: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    overflow-y: auto;
    cursor: default;
  }

  .studentFeedbackDiv3 > div:nth-child(2) {
    width: 100%;
  }

  .studentFeedbackDiv3 > div:nth-child(2) > div {
    flex-direction: column;
    padding: 3px 10px;
  }

  .studentFeedbackDiv3 > div:nth-child(2) > div p:nth-child(1) {
    text-align: center;
  }

  .studentFeedbackDiv3 > div:nth-child(2) > div p:nth-child(2) {
    text-align: center;
  }
}
